@{
    ViewData["Title"] = "Игровые компьютеры";
}

<div class="gaming-pcs-container">
    <h2>Оптимальные. Идеальный баланс цены и производительности.</h2>
    <div class="gaming-pc-card">
        <img src="	https://hyperpc.ru/cache/hp_position_hyperpc_one_4354/hyperpc-one-ch360-alt-450x450.jpg" alt="HYPERPC ONE">
        <h3>HYPERPC ONE</h3>
        <p class="price">Цена 83 500 ₽</p>
        <p>Игровая платформа, построенная на базе процессора Intel® Core™ i5-12400F [до 4.4GHz, 6 ядер] и видеокарты MSI GeForce RTX 3050 VENTUS 2X [8GB, 2560 CUDA].</p>
        <button class="btn config-btn">КОНФИГУРАТОР</button>
        <button class="btn details-btn">ПОДРОБНЕЕ</button>
    </div>

    <div class="gaming-pc-card">
        <img src="	https://hyperpc.ru/cache/hp_position_hyperpc_fury_4355/hyperpc-fury-alt-450x450.jpg" alt="HYPERPC FURY">
        <h3>HYPERPC FURY</h3>
        <p class="price">Цена 118 100 ₽</p>
        <p>Геймерская система на базе Intel® Core™ i5-12400F и видеокарты MSI GeForce RTX 4060 VENTUS 2X [8GB, 3072 CUDA].</p>
        <button class="btn config-btn">КОНФИГУРАТОР</button>
        <button class="btn details-btn">ПОДРОБНЕЕ</button>
    </div>

    <div class="gaming-pc-card">
        <img src="https://hyperpc.ru/cache/hp_position_hyperpc_warrior_4626/hyperpc-champion-upd-black-450x450.jpg" alt="HYPERPC WARRIOR">
        <h3>HYPERPC WARRIOR</h3>
        <p class="price">Цена 158 700 ₽</p>
        <p>Производительный компьютер для игр и работы на базе Intel® Core™ i5-13400F и видеокарты MSI GeForce RTX 4060 Ti [8GB, 4352 CUDA].</p>
        <button class="btn config-btn">КОНФИГУРАТОР</button>
        <button class="btn details-btn">ПОДРОБНЕЕ</button>
    </div>

    <div class="gaming-pc-card">
        <img src="https://hyperpc.ru/cache/hp_position_hyperpc_champion_4356/hyperpc-champion-d41-screen-450x450.jpg" alt="HYPERPC CHAMPION">
        <h3>HYPERPC CHAMPION</h3>
        <p class="price">Цена 204 800 ₽</p>
        <p>Мощная система на базе Intel® Core™ i5-14400F и видеокарты Palit GeForce RTX 4070 JetStream [12GB, 5888 CUDA].</p>
        <button class="btn config-btn">КОНФИГУРАТОР</button>
        <button class="btn details-btn">ПОДРОБНЕЕ</button>
    </div>
</div>