@{
    ViewData["Title"] = "Серверы";
}

<div class="servers-container">
    <h2>SORAPC FORCE</h2>
    <p>Наши серверы разработаны для обеспечения стабильной работы как простых приложений, так и сложных вычислительных задач. Базовые модели идеально подходят для веб-сервисов и хранения данных, а мощные решения предоставляют высокую производительность для виртуализации, аналитики и AI. Мы поддержим конфигурацию, учитывая потребности вашего бизнеса, чтобы обеспечить максимальную эффективность и надежность.</p>

    <div class="server-card">
        <img src="https://hyperpc.ru/images/product/servers/main/force/hyperpc-force-1-unit-blk.jpg?1" alt="FORCE CORE">
        <h3>FORCE CORE</h3>
        <p>Серверы для основных IT-задач, таких как управление веб-сервисами, базами данных и файловыми хранилищами. FORCE CORE обеспечивает стабильную и надежную работу для малых и средних бизнесов с возможностью масштабирования по мере роста.</p>
        <ul>
            <li>До 2x процессоров, до 256 ядер (Intel Xeon 2nd-4th Gen, AMD EPYC)</li>
            <li>До 4TB памяти DDR4/DDR5 ECC</li>
            <li>Контроллеры до 16 жестких дисков (SAS, NVMe)</li>
        </ul>
        <button class="btn inquire-btn">ЗАПРОСИТЬ ЦЕНУ</button>
    </div>

    <div class="server-card">
        <img src="https://hyperpc.ru/images/product/servers/main/force/hyperpc-force-2-unit-blk.jpg?1" alt="FORCE POWER">
        <h3>FORCE POWER</h3>
        <p>Мощные серверы, предназначенные для более сложных задач, таких как виртуализация, аналитика и работа с большими массивами данных. FORCE POWER предлагает идеальное сочетание производительности и гибкости для построения надежной инфраструктуры.</p>
        <ul>
            <li>До 4x процессоров, до 256 ядер (Intel Xeon 2nd-5th Gen, AMD EPYC)</li>
            <li>До 8TB памяти DDR4/DDR5 ECC</li>
            <li>Контроллеры до 24 жестких дисков (SAS, NVMe)</li>
        </ul>
        <button class="btn inquire-btn">ЗАПРОСИТЬ ЦЕНУ</button>
    </div>

    <div class="server-card">
        <img src="https://hyperpc.ru/images/product/servers/main/force/hyperpc-force-4-unit-blk.jpg?1" alt="FORCE ULTRA">
        <h3>FORCE ULTRA</h3>
        <p>Сервера премиум-класса для критически важных бизнес-систем. FORCE ULTRA предлагает максимальную производительность, надежность системы и масштабируемость, что делает их идеальным выбором для организаций с высокими требованиями к надежности и безопасности.</p>
        <ul>
            <li>До 8x процессоров, до 256 ядер (Intel Xeon 2nd-5th Gen, AMD EPYC)</li>
            <li>До 16TB памяти DDR4/DDR5 ECC</li>
            <li>Контроллеры до 48 жестких дисков (SAS, NVMe)</li>
        </ul>
        <button class="btn inquire-btn">ЗАПРОСИТЬ ЦЕНУ</button>
    </div>
</div>