@{
    ViewData["Title"] = "Рабочие станции";
}

<div class="workstations-container">
    <h2>Мощные. Премиальные решения для профессионалов.</h2>
    <div class="workstation-card">
        <img src="https://hyperpc.ru/cache/hp_position_hyperpc_g5_pro_4564/hyperpc-pro-g5-alt-450x450.jpg" alt="HYPERPC G5 PRO">
        <h3>HYPERPC G5 PRO</h3>
        <p class="price">Цена 578 800 ₽</p>
        <p>Мощная рабочая станция для работы с видеокартой MSI GeForce RTX 4090 GAMING TRIO [24GB, 16384 CUDA] и процессором Intel® Core™ i9-14900K [до 6.0GHz, 24 ядер].</p>
        <button class="btn config-btn">КОНФИГУРАТОР</button>
        <button class="btn details-btn">ПОДРОБНЕЕ</button>
    </div>

    <div class="workstation-card">
        <img src="https://hyperpc.ru/cache/hp_position_hyperpc_g6_pro_4565/hyperpc-pro-g4-450x450.jpg" alt="HYPERPC G6 PRO">
        <h3>HYPERPC G6 PRO</h3>
        <p class="price">Цена 1 074 400 ₽</p>
        <p>Мощная рабочая станция для задач любой сложности. В основе: NVIDIA RTX A6000 [48GB, 10752 CUDA] и процессор Intel® Core™ i9-14900K [до 6.0GHz, 24 ядер].</p>
        <button class="btn config-btn">КОНФИГУРАТОР</button>
        <button class="btn details-btn">ПОДРОБНЕЕ</button>
    </div>

    <div class="workstation-card">
        <img src="https://hyperpc.ru/cache/hp_position_hyperpc_g7_pro_4566/hyperpc-pro-g7-450x450.jpg" alt="HYPERPC G7 PRO">
        <h3>HYPERPC G7 PRO</h3>
        <p class="price">Цена 2 297 900 ₽</p>
        <p>Высокопроизводительная станция для создания и обработки 3D-графики с видеокартой NVIDIA RTX 6000 Ada Generation [48GB, 18176 CUDA] и процессором AMD Ryzen Threadripper PRO 7956WX [до 5.3GHz, 24 ядер].</p>
        <button class="btn config-btn">КОНФИГУРАТОР</button>
        <button class="btn details-btn">ПОДРОБНЕЕ</button>
    </div>
</div>